{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <h1>{{ article.title }}</h1>
  <p>{{ article.pk }}번 게시글</p>
  <h3>
    <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a>
  </h3>
  <p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}
    |
    {{ article.updated_at|date:"y-m-d D" }}</p>
  <p>{{ article.content }}
  </p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
  {% endif %}

  {% if request.user == article.user %}
    <p>
      <a href="{% url 'articles:update' article.pk %}">수정하기</a>
    </p>
  {% endif %}
  
  <!-- Likes -->
  <div class="d-flex align-items-center">
    {% if request.user.is_authenticated %}
    <div class="me-3">
      <span id="like-count">{{ article.like_users.count }}</span>
    </div>
    <!-- <form action="{% url 'articles:likes' article.pk %}" method='POST'> -->
    <!-- axios로 요청하기 때문에, action, method 속성은 불필요함 💡 -->
    <!-- data-user-id => 요청할 때 url에서 사용할 pk 설정(임의의 데이터 특성을 만듬) 💡 -->
    <!-- MDN docs -> https://developer.mozilla.org/ko/docs/Web/HTML/Global_attributes/data-* -->
    <form class="like-forms" data-article-id="{{ article.pk }}">
    {% csrf_token %}
      {% if user in article.like_users.all %}
        <input id="like-{{ article.pk }}" type="submit" value='좋아요 취소' class="btn">
      {% else %}
        <input id="like-{{ article.pk }}" type="submit" value='좋아요' class="btn">
      {% endif %}
    </form>
    {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-outline-warning">로그인이 필요합니다.</a>
    <div class="mx-3">
      {{ article.like_users.count }}
    </div>
    <form action="{% url 'articles:likes' article.pk %}" method='POST'>
      {% csrf_token %}
      {% if user in article.like_users.all %}
        <input type="submit" value='좋아요 취소' class="btn btn-outline-secondary">
      {% else %}
        <input type="submit" value='좋아요' class="btn btn-outline-danger">
      {% endif %}
    </form>
    {% endif %}
  </div>

  <!-- Comment -->
  <h4 class="my-3">댓글</h4>
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form layout='inline'%}
      <input type="submit" value="OK" class="btn btn-primary btn-md">
    </form>
  {% endif %}
  <hr>
  {% for comment in comments %}
    <p>
      {{ comment.user.username }}
      |
      {{ comment.content }}</p>
    <hr>
    {% empty %}
    <p>댓글이 없어요 ㅠ_ㅠ</p>
  {% endfor %}

  <!-- Script -->
  <!-- CDN axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>

    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    forms.forEach((form) => {
      form.addEventListener('submit', function(evnet) {
        // submit event stop!!!
        event.preventDefault();
        const articleId = event.target.dataset.articleId
        // request axios
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken': csrftoken}, // csrf token
        })
          // response views
          .then((response) => {
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-${articleId}`)
            const likeCountTag = document.querySelector('#like-count')
            const likeCount = response.data.like_count
            likeCountTag.innerText = likeCount
            if (isLiked === true) {
              likeBtn.value = '좋아요 취소'
            } else {
              likeBtn.value = '좋아요'
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      })
    })

  </script>
{% endblock %}
