{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}

<a href="{% url 'article:index' %}">목록으로 이동</a>

{% if request.user == article.user %}
<a href="{% url 'article:update' article.pk %}">글 수정</a>
<a href="{% url 'article:delete' article.pk %}">글 삭제</a>
<h1>회원이름: <a href="{% url 'accounts:detail' user.pk %}">{{ article.user }}</a></h1>
{% else %}
user: {{ article.user }}<br/>
{% endif %}

제목: {{ article.title }}<br/>
내용: {{ article.content }}<br/>

<h4 class="mt-3">댓글쓰기</h4>
<form action="{% url 'article:comment_create' article.pk %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button "댓글저장" button_type="submit" button_class="btn-primary" %}
</form>
<hr>
<h4>댓글</h4>

{% for comment in comments %}
  {{ comment.content }}
  
  {% if request.user == comment.user %}
  <a href=" {% url 'article:comment_delete' article.pk comment.pk %}">댓글삭제</a>
  {% endif %}
    
  <hr>
{% endfor %}
  




{% endblock content %}
  