{% extends 'base.html' %}


{% block content %}

  <div class="wrap position-absolute top-50 start-50 translate-middle">
    
    <!-- 짝수 & 홀수 -->
    <div class="mb-3">
      <a href="/is-odd-even/0" name="_even"><button class="btn btn-primary">짝수 & 홀수</button></a>
    </div>

    <!-- 사칙연산 -->
    <div class="mb-3">
      <a href="/four/4/2" name="_even"><button class="btn btn-primary">사칙연산</button></a>
    </div>
    
    <!-- 전생 -->
    <div class="mb-3">
      <a href="/name"><button class="btn btn-primary">전생보러가기</button></a>
    </div>

    <!-- 로렘 한글 버전 -->
    <div class="">
      <a href="/lorem-input"><button class="btn btn-primary">로렘</button></a>
    </div>

  </div>


{% endblock content %}  
  