{% extends 'base.html' %}



{% block content %}

<div class="mb-5">
  <h1>회원정보</h1><a href="{% url 'user:index' %}">목록으로 이동 <i class="fa-solid fa-arrow-right"></i></a>
</div>
id: {{ user.id }}<br/>
password: {{ user.password }}<br/>
last_login: {{ user.last_login }}<br/>
is_superuser: {{ user.is_superuser }}<br/>
username: {{ user.username }}<br/>
email: {{ user.email }}<br/>
is_staff: {{ user.is_staff }}<br/>
is_active: {{ user.is_active }}<br/>
date_joined: {{ user.date_joined }}<br/>


{% endblock content %}
  