{% extends 'base.html' %}



{% block content %}

<h1>{{ user.username }}님의 프로필</h1>
<a href="{% url 'accounts:index' %}">back</a>
<a href="{% url 'article:index' %}">articles</a>

{% if request.user == user %}
<a href="{% url 'accounts:logout' %}">logout</a>
{% endif %}
  

<!-- Follow -->
{% if request.user.is_authenticated %}
<!-- <form action="{% url 'accounts:follow' user.pk %}" method='POST'> -->
<!-- axios로 요청하기 때문에, action, method 속성은 불필요함 💡 -->
<!-- data-user-id => 요청할 때 url에서 사용할 pk 설정(임의의 데이터 특성을 만듬) 💡 -->
<!-- MDN docs -> https://developer.mozilla.org/ko/docs/Web/HTML/Global_attributes/data-* -->
<form id="follow-form" data-user-id="{{ user.pk }}">
{% csrf_token %}
팔로잉: <span id="followers-count">{{ user.followers.count }}</span> | 팔로워: <span id="followings-count">{{ user.followings.count }}</span>
  {% if request.user != user %}
    {% if request.user in user.followings.all %}
      <input type="submit" value='팔로우 취소'>
    {% else %}
      <input type="submit" value='팔로우'>
    {% endif %}
  {% endif %}
</form>  
{% else %}
팔로잉: <span id="followers-count">{{ user.followers.count }}</span> | 팔로워: <span id="followings-count">{{ user.followings.count }}</span>
<a href="{% url 'accounts:index' %}" class="btn btn-outline-secondary">로그인이 필요합니다.</a>
{% endif %}

{% if user.is_authenticated %}
{% endif %}
  
{% endblock content %}
  


{% block script %}
  <!-- CDN axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    // csrf token -> input(hidden type) tag in HTML
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    form.addEventListener('submit', function(event) {
      // submit event stop!!!
      event.preventDefault()
      const userId = event.target.dataset.userId

      // request axios
      axios({
        method: 'post',
        url: `/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken}, // csrf token
      })
        // response views
        .then((response) => {
          const isFollowed = response.data.is_followed
          const followBtn = document.querySelector('#follow-form > input[type=submit]')
          if (isFollowed === true) {
            followBtn.value = '팔로우 취소'
          } else {
            followBtn.value = '팔로우'
          }
          // follow counts
          const followersCountTag = document.querySelector('#followers-count')
          const followingsCountTag = document.querySelector('#followings-count')
          const followersCount = response.data.followers_count
          const followingsCount = response.data.followings_count
          followersCountTag.innerText = followersCount
          followingsCountTag.innerText = followingsCount
        })
        .catch((error) => {
          console.log(error.response)
        })
    })
  </script>
{% endblock script %}
  