{% extends 'base.html' %}



{% block content %}
<div class="container d-flex flex-column justify-content-center" style="height: 100vh;">

  <a href="{% url 'account:index' %}"><i class="fa-solid fa-arrow-left"></i> 목록으로이동</a>
  <a href="{% url 'account:update' %}">회원정보 수정</a>
{{ user.id }}<br/>
{{ user.password }}<br/>
{{ user.last_login }}<br/>
{{ user.is_superuser }}<br/>
{{ user.username }}<br/>
{{ user.email }}<br/>
{{ user.first_name }}<br/>
{{ user.last_name }}<br/>


</div>
{% endblock content %}
  