{% extends 'base.html' %}

<!-- 👇 static file 시작하기 👇 -->
{% load static %}


{% block content %}
  
<a href="{% url 'articles:create' %}">글쓰기</a>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">리뷰 번호</th>
      <th scope="col">리뷰 제목</th>
      <th scope="col">작성 시간</th>
    </tr>
  </thead>
  <tbody>
    <!-- views.py의 index 함수에서 리턴 값으로 넘어온 Article 객체들을 반복문으로 처리 -->
    {% for article in articles %}
    <tr>
      <td>{{ article.id }}</td>
      <!-- title을 누르면 a 태그의 링크를 통해 상세 페이지로 이동 -->
      <!-- 특정 객체를 보기 위해서는 고유한 값인 pk 값을 함께 전달 -->
      <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
      <td>{{ article.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- 👇 static images 적용하기 👇 -->
<!-- {% static '(static/)imgages파일 경로' %} -->
<img src="{% static 'images/bg-01.jpeg' %}" alt="bg">


{% endblock content %}